.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 149px;
}

.wave .shape-fill {
    fill: #1e293b;
}